[package]
name = "fuzz"
version = "0.1.0"
authors = ["tensor-programming <tensordeveloper@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[package.metadata]
cargo-fuzz = true

[dependencies]
libfuzzer-sys = "0.3"
rand = "0.8.3"

[dependencies.vault]
path = "../../vault"
version = "0.2"

[dependencies.iota-crypto]
git = "https://github.com/iotaledger/crypto.rs"
rev = "46c14870998f2a1083095c3a64e9fa0ed1cf51e8"
features = [ "random", "chacha" ]
version = "0.5.0"
# Note: We are only adding a version so that we can publish to crates.io

[profile.release]
overflow-checks = true
panic = "abort"

[profile.dev]
overflow-checks = true
panic = "abort"

[workspace]

[[bin]]
name = "vault_fuzz"
path = "src/vault_fuzz.rs"