[workspace]
members = [
  "engine",
  "engine/vault",
  "engine/snapshot",
  "engine/store",
  "engine/runtime",
  "client",
  "communication",
  "communication/communication-macros",
  "utils",
]
exclude = [
  "products/commandline",
  "products/desktop",
  "products/SHaaS",
]

[profile.release]
overflow-checks = true
panic = "abort"

[profile.dev]
overflow-checks = true
panic = "abort"

[profile.bench]
overflow-checks = true
