.DS_Store
.thumbs.db
node_modules

# Quasar core related directories
.quasar
/dist

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.vscode

.env