.heading {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .headingImage {
    width: 8rem;
    margin-right: 2rem;
  }
  
  .headingTitle {
    margin-bottom: 0;
    font-size: 2.5rem;
    letter-spacing: 0.02em;
    font-family: 'Metropolis Semi Bold';
  }