name: Format

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
      - dev

jobs:
  format:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        project: [parti, stronghold]

    steps:
    - uses: actions/checkout@v2
    - name: Install rustfmt
      uses: actions-rs/toolchain@v1
      with:
          profile: minimal
          toolchain: nightly
          override: true
          components: rustfmt
    - uses: actions-rs/cargo@v1
      with:
        command: fmt
        args: --manifest-path=${{ matrix.project }}/Cargo.toml --all -- --check
